.App-header {
  background-color: #1e1f26;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
}
.App-body {
  padding: 20px;
  background-color: #2a2d44;
}

header h1 {
  color: #61dafb;
  margin-bottom: 20px;
  margin-top: 20px;
}

.controls-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  width: 350px;
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
  width: 300px;
}

input[type="number"] {
  padding: 8px;
  border: 1px solid #444;
  border-radius: 4px;
  background-color: #2a2b32;
  color: #e1e1e1;
  text-align: center;
  width: 150px;
}

button {
  background-color: #61dafb;
  border: none;
  border-radius: 4px;
  color: #1e1f26;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  width: 150px;
}

button:hover {
  background-color: #4bb6cb;
}

button:active {
  background-color: #3ba9b5;
}

#map {
  border: 2px solid #444;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 800px;
  margin-top: 20px;
}

/* Desktop layout: Arrange controls next to the map */
@media (min-width: 768px) {
  .App-header {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }

  .controls-container {
    flex: 1;
    align-items: flex-start;
    width: 500px;
  }

  .controls {
    flex-direction: row;
    gap: 10px;
    margin-right: 20px;
  }

  #map {
    flex: 2;
    height: 800px;
    margin-top: 0;
  }
}

/* Mobile layout: Arrange controls above the map in a grid */
@media (max-width: 767px) {
  .controls {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 100%;
  }
  #map {
    width: 100%;
    height: 500px;
  }
}
@media (max-width: 767px) and (orientation: landscape) {
  .App-header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;

  }

  .controls-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 50%;
  }

  #map {
    width: 100%;
    height: 300px;
  }
}